$breakpoints-down: (
  //499px
    small: 31.1875em,
  //699px
    medium: 43.6875em,
  //999px
    large: 62.4375em,
  //1399px
    xlarge: 87.4375em
);
$breakpoints-up: (
  //500px
    small: 31.25em,
  //700px
    medium: 43.75em,
  //1000px
    large: 62.5em,
  //1400px,
    xlarge: 87.5em
);
// mixin de los $size para arriba
@mixin breakpoint-up($size) {
  $breakpoint-value: map-get($breakpoints-up, $size);
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
// mixin de los $size para abajo
@mixin breakpoint-down($size) {
  $breakpoint-value: map-get($breakpoints-down, $size);
  @media screen and( max-width:$breakpoint-value) {
    @content;
  }
}
